.form-gap {
    padding-top: 100px;
}

#Modifier mon profil{letter-spacing:1px;
font-family:Verdana!important;
color:#400040;}

.pg-titl-bdr-btm{  
	float:left;
	width: 490px;
    height: 2px;
    background-color: #28b57c; 
    margin-bottom:70px;}
    

form{ 
color:#400040;
left:27%;
top:15%;
font-family: "Verdana";
}


.footer-gap{padding-top: 390px;}

#keepmodifications{background:#400040;
border:none;
margin-left:62%;
margin-top:50px;}

#keepmodifications:hover{background:#400080;
border:none;}

.footer-gap{padding-top: 150px;}

.span_error_modifcompte
{
	color:red;
	font-size:0.9em;
}