.form-gap {
    padding-top: 100px;
}

#Monprofil{letter-spacing:1px;
font-family:Verdana;}

form{ 
color:#400040;
left:27%;
top:15%;
font-family:  Verdana,"arial black", "Poppins";
}

#Mesprojets{letter-spacing:1px;
font-family:Verdana;
margin-bottom:70px;}


.form-gap{padding-top:100px;}

.card-block {
    min-height: 220px;
}

.row.proj{margin-left:1%}

#mesprojetscont{overflow-x:auto;}

#Mescommentaires{letter-spacing:1px;
font-family:Verdana;
}

#comms{overflow-x:auto;}

.pg-titl-bdr-btm.2{
	float:left;
	width: 300px;
    height: 2px;
    background-color: #28b57c; margin-bottom:70px; }
    
.pg-titl-bdr-btm{  
	float:left;
	width: 300px;
    height: 2px;
    background-color: #28b57c;}

.footer-gap{padding-top: 70px;}
.section{display:inline;}