#email{letter-spacing:1px;}
.form-gap {
    padding-top: 200px;
}

#newpsd{background: #400040 !important; border: none; }
#newpsd:hover{background: #400080 !important; border: none; }

.footer-gap{padding-top: 390px;}

.panel-body{ text-align:center;}
.panel-body2{width:50%; margin-left:25%;}

/* #lock, .fa fa-lock fa-4x{ position: absolute; */
/* top:30%;  */
/* left:50% */
/* } */

/* .container { */
/*     width: 1170px; */
/* } */
/* .container { */
/*     width: 970px; */
/* } */
/* .container { */
/*     width: 750px; */
/* } */
/* .container { */
/*     padding-right: 15px; */
/*     padding-left: 15px; */
/*     margin-right: auto; */
/*     margin-left: auto; */
/* } */