.btn-primary{ border:none !important;
background-color: #408080 !important;}

.form-group1 { position: absolute; left: 3%}
.text-right{ position: relative; right: 0.1%; top:5%}
.text-right1{ position: absolute; left: 70%}



.col-md-6 col-md-offset-3{text-align:center}

.form{background: transparent !important}

  
#container_singup
{
	border: inset 2px darkcyan;
	margin-top:5em;
}

  
label, .form-check{ font-family: Verdana, arial, "Comic Sans Ms";
color:black; text-align:center}

.form-group1{ text-align:center }
