.nav-gap{padding-top:70px;}

ul.breadcrumb {font-size:0.9em; background:none;font-family:verdana; letter-spacing: 1px; color: #400040;}
ul.breadcrumb li+li:before {
text-decoration: none !important;
  padding: 8px;
  color: black;
  content: "/\00a0";
  }
  
  #bc{text-decoration:none !important; color:#400040;}
.active:hover{color: #28b57c;}

#ABtitre{font-weight:bold; text-align: center; margin-bottom: 40px; 
padding-top: 5px; border: 2px inset darkcyan; height: 40px;   }

#DescriptifAB{margin-top:30px;  width:100%; height:250px; 
font-family:verdana; text-align:justify; border:2px inset darkcyan; margin-bottom:50px;}

#dab{margin-top:30px;}

#publibtn{ 
 background-color: #408080!important;
 border:none; 
}
 
#publibtn:hover{background-color: #404080!important;}

.form-row{padding-left: 1.5%;}

#map{height:60em; width: 50em;}
#pouce{border:1px solid purple; max-width:550px; max-height:600px; }
#hcom{margin-top:50px;}

.pg-titl-bdr-btm {
	float:left;
    width: 950px;
    height: 2px;
    background-color: #28b57c;
    margin-bottom:70px;}
    
#voteyes{color:green !important;margin-top:50px;}
.btn-yes{ 
background-color: white!important; 
border: none; 
color: #400040; 
cursor: pointer;
border-radius: 50%;}
    
#voteyes:hover{color: #400040 !important; }
   
.idstyle{
	font-family: verdana; color:#DC143C; 
   font-style:italic; text-align:center;}
   
#voteno{color:red !important;margin-top:50px;}

.btn-no{  
background-color: white!important; 
 border: none; 
 color: #400040; 
 cursor: pointer;
 border-radius: 50%;}

#voteno:hover{color: #400040 !important; }

.idstyle1{
font-family: verdana; color:#DC143C; 
   font-style:italic; text-align:center;}


.votepro{color:#400040;
font-family: verdana; text-transform:bold;}

#postcommentvote{height: 250px; margin-top:20px;}

#w{margin-left:10px; font-size: 0.8em;}

#afficheavis{margin-top:70px;}

.footer-gap{padding-top: 200px;}