
<!DOCTYPE html >
<html class="ink">
<div th:fragment="footer">
<head>
 <title>Footer</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<link href="/css/css_footer.css" rel="stylesheet">
<!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

 </head>

<!-- Footer -->
<footer id="footer" class="page-footer font-small">
<!-- Copyright -->
   <div  class="footercityact py-3">
   <div class="col-sm-12">
   <div class="row">

		<div class="col-sm-3 text-center ">
        <a id="website1" href="legal">Mentions légales</a>
        </div>
        
     	<div class="col-sm-6 text-center">
      	<a id="website2" href="#"> © 2019 Copyright: CityAct.com</a>
     	 </div>

   		<div class="col-sm-3 text-center">
        <a id="website3" href="nous_contacter">Nous contacter</a>
        </div>
    <!-- Copyright --> 
    </div>
</footer>
  <!-- Footer -->
</div>
</html>
