
<!DOCTYPE html >
<html>
<head>
<title>CityAct | Carte des signalements</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">


<link href="/css/css_map.css" 
	rel="stylesheet">

</head>
<body>


<!-- Not connected -->
<div th:if="${session.user == null}">
	<div th:insert="~{CityAct::notConnectedNavbar}"></div>
</div>
<!-- Connected -->
<div th:if="${session.user != null}">
	<div th:insert="~{CityActConnectNavbar::connectedNavbar}"></div>
</div>

	<div class="container-fluid mt-5">
		<div class="row">
			<div class="col-sm-12 mt-5">
				<div class="row">
					<div class="col-sm-8" id="div_map_y_filter">
						<div class="row">
							<div class="col-sm-12" id="div_filtersofmap">

								<div class="row my-auto" id="row_filters">
								
								
									<!-- 							<form class="form-inline col-sm-2">
								<div class="input-group input-group-btn mx-auto">
          							<input class="form-control py-2" type="search" placeholder="Où chercher?" id="pac-input">
      								<span class="input-group-append">
       									<button class="btn btn-outline-secondary" type="button">
            								<i class="fa fa-search"></i>
        								</button>
      								</span>
        						</div>
							</form> -->

									<form class="form-inline col-sm-8" th:action="@{/filter_map}" method="POST">
										<div class="col-sm-6">
											<button
												class="btn btn-secondary dropdown-toggle btn-block btn_dropdown"
												type="button" id="btn_category" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">
												Catégorie</button>
											<div class="dropdown-menu dropdown" aria-labelledby="btn_category">
												<div class="list-group">
													<div
														class="dropdown_checkbox checkbox list-group-item col-12 py-1">
														<div class="row">
															<input class="form-check-input col-2 my-auto"
																id="input_category_signalement" type="checkbox" th:checked="${checkbox_filtersig}"
																name="checkbox_filtersig"> <label
																class="col-9 label_of_filterscheckbox"
																for="input_category_signalement">Signalements</label>
														</div>

													</div>
													<div
														class="dropdown_checkbox checkbox list-group-item col-12 py-1">
														<div class="row">
															<input class="form-check-input col-2 my-auto"
																id="input_category_ambientpower" type="checkbox"
																th:checked="${checkbox_filterap}" name="checkbox_filterap"> <label
																class="col-9 label_of_filterscheckbox"
																for="input_category_ambientpower">Ambient Power</label>
														</div>

													</div>
													<div
														class="dropdown_checkbox checkbox list-group-item col-12 py-1">
														<div class="row">
															<input class="form-check-input col-2 my-auto"
																id="input_category_propamenagement" type="checkbox"
																th:checked="${checkbox_filterup}" name="checkbox_filterup"> <label
																class="col-9 label_of_filterscheckbox"
																for="input_category_propamenagement">Proposition
																d'aménagements</label>
														</div>
													</div>

												</div>
											</div>
										</div>





										<div class=" col-sm-6">
											<button type="submit" class="btn btn-primary btn-block"
												id="btn_filtre">Filtrez</button>
										</div>

									</form>

									<form class="form-inline col-sm-4">
										<button
											class="btn btn-secondary dropdown-toggle btn-block btn_dropdown"
											type="button" id="btn_ajout" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">Ajoutez
											un marqueur !</button>
										<div class="dropdown-menu dropdown" aria-labelledby="btn_ajout">
										
											<a
												class="col-12 list-group-item btn btn-primary btn-block btn_of_btn_ajout" href="formsignalement">Signalements</a>
											<a
												class="col-12 list-group-item btn btn-primary btn-block btn_of_btn_ajout" href="formambientpower">Ambient
												Power</a>
											<a
												class="col-12 list-group-item btn btn-primary btn-block btn_of_btn_ajout" href="formprojets">Propositions
												d'aménagements</a>
										</div>
									</form>
								</div>
							</div>
						</div>

						<script>
							/*  Script qui va permettre d'éviter que les dropdown se ferment à chaque clics à côtés */
							$(document).on('click', '.dropdown', function(e) {
								e.stopPropagation();
							});
						</script>


						<div class="row">
							<div class="col-sm-12" id="map"></div>
						</div>
					</div>

					<script th:inline="javascript">
						var map, infoWindow, pos;

						
						
						

						function CenterControl(controlDiv, map) {

							// Set CSS for the control border.
							var controlUI = document.createElement('div');
							controlUI.style.backgroundColor = '#fff';
							controlUI.style.border = '2px solid #fff';
							controlUI.style.borderRadius = '3px';
							controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
							controlUI.style.cursor = 'pointer';
							controlUI.style.marginBottom = '22px';
							controlUI.style.textAlign = 'center';
							controlUI.title = 'Click to recenter the map';
							controlDiv.appendChild(controlUI);

							// Set CSS for the control interior.
							var controlText = document.createElement('div');
							controlText.style.color = 'rgb(25,25,25)';
							controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
							controlText.style.fontSize = '16px';
							controlText.style.lineHeight = '38px';
							controlText.style.paddingLeft = '5px';
							controlText.style.paddingRight = '5px';
							controlText.innerHTML = 'Center Map';
							controlUI.appendChild(controlText);

							// Setup the click event listeners: simply set the map to Chicago.
							controlUI.addEventListener('click', function() {
								map.setCenter(pos);
							});

						}


						function initMap() {
							map = new google.maps.Map(document
									.getElementById('map'), {
								center : {
									lat : -34.397,
									lng : 150.644
								},
								zoom : 14
							});
							
						
							/*<![CDATA[*/
							var checkbox_filtersig = /*[[${checkbox_filtersig}]]*/
							var checkbox_filterap = /*[[${checkbox_filterap}]]*/
							var checkbox_filterup = /*[[${checkbox_filterup}]]*/
							/*]]>*/

							var list_url = [];
							if((checkbox_filtersig == null && checkbox_filterap == null && checkbox_filterup == null) || (checkbox_filtersig == false && checkbox_filterap == false && checkbox_filterup == false))
							{
								list_url.push("http://localhost:8080/jsonAllProjects/projects/");
							}
							else
							{
								if(checkbox_filtersig)
								{
									list_url.push("http://localhost:8080/jsonAllProjects/projects/sig");
								}
								if(checkbox_filterap)
								{
									list_url.push("http://localhost:8080/jsonAllProjects/projects/ap");
								}
								if(checkbox_filterup)
								{
									list_url.push("http://localhost:8080/jsonAllProjects/projects/up");
								}
							}
							
							
							  function f_jsonprojects(callback) {
								  for (let i = 0; i < list_url.length; i++){
									  $.getJSON(list_url[i], function (projects) {
									      callback(projects);								      
									    });
									  }
								    
								  }
							  
							  f_jsonprojects(function (projects) {
								    list = projects;
								    for (var i = 0; i < list.length; i++) {
										  marker = new google.maps.Marker({
										         position: new google.maps.LatLng(Number(list[i].latitude), Number(list[i].longitude)),
										         map: map
										});
										  marker.set("id", list[i].id);
										if(list[i].ref.substring(0,1) == 'A')
											{
												var icon = {
													    url: "http://maps.google.com/mapfiles/kml/paddle/purple-blank.png", // url
													    scaledSize: new google.maps.Size(40, 40), // scaled size
													};
												marker.setIcon(icon);
											}
										else if(list[i].ref.substring(0,1) == 'P')
											{
												var icon = {
												    url: "http://maps.google.com/mapfiles/kml/paddle/grn-blank.png", // url
												    scaledSize: new google.maps.Size(40, 40), // scaled size
												};
												marker.setIcon(icon);
											}
										else if(list[i].ref.substring(0,1) == 'S')
											{
												var icon = {
											    	url: "http://maps.google.com/mapfiles/kml/paddle/pink-blank.png", // url
											    	scaledSize: new google.maps.Size(40, 40), // scaled size
												};
												marker.setIcon(icon);
											}

										var last_div;
										var actual_div;
										
										marker.addListener('click', function() {
											var div = document.getElementById('div_'+this.id);

											last_div = actual_div;
											actual_div = div;

											
											div.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
											div.style.backgroundColor ="#DCDCDC";
											last_div.style.backgroundColor ="white";
									        });
										
									}
								  });
							  
							  
// 							  var ul = document.getElementById("ul_list_projects");
// 							  f_jsonprojects(function (projects) {
									
									
// 									var markers = [];
// 									list = projects;
// 								    for (var i = 0; i < list.length; i++) {
// 								    	marker = new google.maps.Marker({
// 									         position: new google.maps.LatLng(Number(list[i].latitude), Number(list[i].longitude)),
// 									});
// 								    	marker.set("ref", list[i].ref);
// 								    	marker.set("photopath", list[i].photopath);
// 								    	marker.set("titre", list[i].titre);
// 								    	markers.push(marker);
// 								    }
// 								    console.log(markers);
								    
// 								    for (var i = 0; i < markers.length; i++) 
// 							        {
// 							            if (map.getBounds().contains(markers[i].getPosition())) 
// 							            {
// 							                console.log("it got it!");
// 							                var li=document.createElement('li');
// 							                li.setAttribute('class', "list-group-item li_descri_marqueur");
// 							                var li_row = document.createElement('div');
// 							                li_row.setAttribute('class', "row");
// 							                var li_row_div = document.createElement('div');
// 							                li_row_div.setAttribute('class', "col-sm-12 div_descriyimage_marqueur");
// 							                var li_row_div_row = document.createElement('div');
// 							                li_row_div_row.setAttribute('class', "row");
// 							                var li_row_div_row_divimg = document.createElement('div');
// 							                li_row_div_row_divimg.setAttribute('class', "col-sm-3 d-flex justify-content-center align-items-center div_img_of_marqueur");
// 							                var li_row_div_row_divimg_img = document.createElement('img');
// 							                li_row_div_row_divimg_img.setAttribute('class', "img-thumbnail");
// 							                li_row_div_row_divimg_img.setAttribute('src', markers[i].photopath);
// 							                var li_row_div_row_divdescri = document.createElement('div');
// 							                li_row_div_row_divdescri.setAttribute('class', "col-sm-9 pt-1 div_descri_of_marqueur");
// 							                var li_row_div_row_divdescri_row = document.createElement('div');
// 							                li_row_div_row_divdescri_row.setAttribute('class', "row");
// 							                var li_row_div_row_divdescri_row_divtitre = document.createElement('div');
// 							                li_row_div_row_divdescri_row.setAttribute('class', "col-sm-12 div_titre_marqueur");
// 							                var li_row_div_row_divdescri_row_divtitre_h6 = document.createElement('h6');
// 							                var li_row_div_row_divdescri_row_divtitre_h6_a = document.createElement('a');
// 							                li_row_div_row_divdescri_row_divtitre_h6_a.setAttribute('class', "h_titre_marqueur");
// 							                li_row_div_row_divdescri_row_divtitre_h6_a.setAttribute('href', "@{/r_method}");
// 							                li_row_div_row_divdescri_row_divtitre_h6_a.textContent= markers[i].titre;

// 							                li_row_div_row_divdescri_row_divtitre_h6.appendChild(li_row_div_row_divdescri_row_divtitre_h6_a);
// 							                li_row_div_row_divdescri_row_divtitre.appendChild(li_row_div_row_divdescri_row_divtitre_h6);
// 							                li_row_div_row_divdescri_row.appendChild(li_row_div_row_divdescri_row_divtitre);
// 							                li_row_div_row_divdescri.appendChild(li_row_div_row_divdescri_row);
// 							                li_row_div_row_divimg.appendChild(li_row_div_row_divimg_img);
// 							                li_row_div_row.appendChild(li_row_div_row_divimg);
// 							                li_row_div_row.appendChild(li_row_div_row_divdescri);
// 							                li_row_div.appendChild(li_row_div_row);
// 							                li_row.appendChild(li_row_div);
// 							                li.appendChild(li_row);
// 							                ul.appendChild(li);
// 							            } 
// 							            else 
// 							            {
// 							                // markers[i] is not in visible bounds
// 							            }
// 							        }
									
// 								  });
							  
// 							var div_list = document.getElementById("ul_list_projects");
// 							console.log(div_list);
							  
							  
							
// 							map.addListener('zoom_changed', function() {
// 								f_jsonprojects(function (projects) {
							
								
// 								var markers = [];
// 								list = projects;
// 							    for (var i = 0; i < list.length; i++) {
// 							    	marker = new google.maps.Marker({
// 								         position: new google.maps.LatLng(Number(list[i].latitude), Number(list[i].longitude)),
// 								});
// 									marker.set("id", list[i].id)
// 							    	markers.push(marker);
// 							    }
// 							    console.log(markers);
							    
// 							    for (var i = 0; i < markers.length; i++) 
// 						        {
// 						            if (map.getBounds().contains(markers[i].getPosition())) 
// 						            {
// 							            var li = document.getElementById("li_"+ markers[i].id)
// 							            li.style.visibility = "visible";
// 						                console.log("it got it!");
// 						            } 
// 						            else 
// 						            {
// 						            	var li = document.getElementById("li_"+ markers[i].id)
// 						            	li.style.visibility = "hidden";
// 						            }
// 						        }
								
// 							  });
// 							});
							
							  
							  
							  
								
							
// 							//Fetch all projects in json
// 							fetch('http://localhost:8080/jsonAllProjects/projects/')
// 						    .then(response => response.json())
// 						    .then(list => {
								

								
// 								for (var i = 0; i < list.length; i++) {
// 									  marker = new google.maps.Marker({
// 									         position: new google.maps.LatLng(Number(list[i].latitude), Number(list[i].longitude)),
// 									         map: map
// 									});
// 									  marker.set("id", list[i].ref);
// 									if(list[i].ref.substring(0,1) == 'A')
// 										{
// 											var icon = {
// 												    url: "http://maps.google.com/mapfiles/kml/paddle/purple-blank.png", // url
// 												    scaledSize: new google.maps.Size(40, 40), // scaled size
// 												};
// 											marker.setIcon(icon);
// 										}
// 									else if(list[i].ref.substring(0,1) == 'P')
// 										{
// 											var icon = {
// 											    url: "http://maps.google.com/mapfiles/kml/paddle/grn-blank.png", // url
// 											    scaledSize: new google.maps.Size(40, 40), // scaled size
// 											};
// 											marker.setIcon(icon);
// 										}
// 									else if(list[i].ref.substring(0,1) == 'S')
// 										{
// 											var icon = {
// 										    	url: "http://maps.google.com/mapfiles/kml/paddle/pink-blank.png", // url
// 										    	scaledSize: new google.maps.Size(40, 40), // scaled size
// 											};
// 											marker.setIcon(icon);
// 										}
									
// 									marker.addListener('click', function() {
// 										var div = document.getElementById("test_link");
// 										div.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
// 										div.style.backgroundColor ="#DCDCDC";
// 								        });
// 									markers.push(marker);
									
// 								}
								
// 						    });
							

							
							
							

							// Try HTML5 geolocation.
							if (navigator.geolocation) {
								navigator.geolocation
										.getCurrentPosition(
												
												function(position) {
													enableHighAccuracy:true,
													pos = {
														lat : position.coords.latitude,
														lng : position.coords.longitude
													};
													
													var marker_mapos = new google.maps.Marker({
														position: pos,
														title:"Vous êtes ici",
														icon:"http://maps.google.com/mapfiles/kml/shapes/placemark_circle.png"
													})
													marker_mapos.setMap(map);

// 													infoWindow.setPosition(pos);
// 													infoWindow
// 															.setContent('Location found.');
// 													infoWindow.open(map);
													map.setCenter(pos);
												}, function() {
													handleLocationError(true,
															marker_mapos,
															map.getCenter());
												});

							} else {
								// Browser doesn't support Geolocation
								handleLocationError(false, infoWindow, map
										.getCenter());
							}

							// Create the DIV to hold the control and call the CenterControl()
							// constructor passing in this DIV.
							var centerControlDiv = document
									.createElement('div');
							var centerControl = new CenterControl(
									centerControlDiv, map);

							centerControlDiv.index = 1;
							map.controls[google.maps.ControlPosition.TOP_CENTER]
									.push(centerControlDiv);
						}

						function handleLocationError(browserHasGeolocation,
								infoWindow, pos) {
							infoWindow.setPosition(pos);
							infoWindow
									.setContent(browserHasGeolocation ? 'Error: The Geolocation service failed.'
											: 'Error: Your browser doesn\'t support geolocation.');
							infoWindow.open(map);
						}
					</script>

					<script>
						/*  Script qui va permettre d'éviter que les dropdown se ferment à chaque clics à côtés */
						$(document).on('click', '.dropup', function(e) {
							e.stopPropagation();
						});
					</script>

					<div class="col-sm-4" id="div_all_marqueurs">
						<div class="row">
							<div class="list-group col-sm-12"
								id="div_all_marqueurs_overflowscroll">
								<ul class="list-group" id="ul_list_projects">							
									

										<li th:each="project: ${allProjects}" class="list-group-item li_descri_marqueur" th:id="'li_' + ${project.id}">
										<div class="row">
											<div class="col-sm-12 div_descriyimage_marqueur" th:id="${'div_'+ project.id}">
												<div class="row">
													<div
														class="col-sm-3 d-flex justify-content-center align-items-center div_img_of_marqueur">
														<img th:src="${project.photopath}" alt=""
															class="img-thumbnail">
													</div>
													<div class="col-sm-9 pt-1 div_descri_of_marqueur">
														<div class="row">
															<div class="col-sm-12 div_titre_marqueur">
																<h6>
																	<a class="h_titre_marqueur"  th:if="${project.ref}==A" th:href="'/goto_ambienpower_presentation/' + ${project.id}" th:utext="${project.titre}"></a>
																	<a class="h_titre_marqueur"  th:if="${project.ref}==S" th:href="'/goto_signalement_presentation/' + ${project.id}" th:utext="${project.titre}"></a>
																	<a class="h_titre_marqueur"  th:if="${project.ref}==P" th:href="'/goto_projet_presentation/' + ${project.id}" th:utext="${project.titre}"></a>
																</h6>
<!-- 																<input type="text" name="${id_of_project}" th:value="${project.id}" hidden/> -->
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12 pt-2">
																<h5 th:if="${project.ref}==A" class="h_category_y_souscategory">Ambient Power </h5>
																<h5 th:if="${project.ref}==S" class="h_category_y_souscategory">Signalement </h5>
																<h5 th:if="${project.ref}==P" class="h_category_y_souscategory">Projet d'aménagement </h5>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12 text-justify px-3">
																<p class="p_marqueur_description" th:utext="${project.descriptif}"></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										</li>

									


								</ul>


							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div th:insert="~{footer::footer}"></div>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDXFTORjfXpPSkt7ZEuotSXE4UtvZk0T8&callback=initMap"
		async defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	 
<!-- <script -->
<!-- 	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" -->
<!-- 	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" -->
<!-- 	crossorigin="anonymous"></script> -->
<!-- <script -->
<!-- 	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" -->
<!-- 	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" -->
<!-- 	crossorigin="anonymous"></script> -->
<!--  --> 
</body>
</html>

