
<!DOCTYPE html >
<html class="ink">
<head>
<title>CityAct | Mon profil</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<link href="/css/css_mesprojetstest.css" rel="stylesheet">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</head>
<!-- Not connected -->
<div th:if="${session.user == null}">
    <div th:insert="~{CityAct::notConnectedNavbar}"></div>
</div>
<!-- Connected -->
<div th:if="${session.user != null}">
    <div th:insert="~{CityActConnectNavbar::connectedNavbar}"></div>
</div>

 <div class="form-gap"></div>
 
 <h4 id="Monprofil">Mes projets</h4>
 
 
<div id="mesprojetscont" class="container-fluid">
<!--     <h2>Bootstrap Horizontal Scrolling with Flexbox</h2> -->
    <div class="row flex-row flex-nowrap">
    
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">	
            <div class="row  proj" >
	<div class="col-md-4">
	<img src="/pictures/quentin.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Trou dans la chaussée</h6>
	<h6><b>Signalement</b>: Voirie</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">	<div class="row  proj" >
	<div class="col-md-4">
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Projets d'aménagements dans le centre</h6>
	<h6><b>Catégorie</b> :sous-catégorie</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8">
	<h6>Titre : Projets d'aménagements dans le centre</h6>
	<h6><b>Projets</b> :sous-catégorie</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Tunnel sombre et peu engageant</h6>
	<h6><b>Ambient Power</b>: environnement bâti</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
       <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Encombrant devant maison</h6>
	<h6><b>Signalement</b>: encombrants</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre: éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Banc dégradé</h6>
	<h6><b>Signalement</b>: mobilier urbain</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        
    </div>
</div>
<!--  end div -->

