
<!DOCTYPE html >
<html class="ink">
<head>
<title>CityAct | Modifier mon profil</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<link href="/css/css_modifierprofil.css" rel="stylesheet">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</head>


<!-- Not connected -->
<div th:if="${session.user == null}">
    <div th:insert="~{CityAct::notConnectedNavbar}"></div>
</div>

<!-- Connected -->
<div th:if="${session.user != null}">
    <div th:insert="~{CityActConnectNavbar::connectedNavbar}"></div>
</div>


<div class="form-gap"></div>
 <h4 id="Modifier mon profil">Modifier mon profil</h4>
  <hr class="pg-titl-bdr-btm ">
  <br>
 
<div id="prof" class="container-fluid" >
<div class="row">
<div class="col-sm-1"></div>
<form th:object="${users}" action="/modifiermesinfos_method" method="POST">
<div class="form-row">
    <div class="form-group col-sm-6">
      <label for="inputEmail4"><b>Prénom</b></label>
      <input type="text" class="form-control" id="inputFirstname" th:value="*{firstname}" th:field="*{firstname}">
      <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="span_error_modifcompte">NameError</span>
    </div>
   
    
    <div class="form-group col-sm-6">
      <label for="inputnom"><b>Nom</b></label>
      <input type="text"class="form-control" id="inputLastname" placeholder="Nom" th:value="*{lastname}" th:field="*{lastname}">
      <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="span_error_modifcompte">NameError</span>
    </div>
 </div> 

  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="inputEmail4"><b>Email</b></label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" th:value="*{mail}" th:field="*{mail}" required>
      <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="span_error_modifcompte">NameError</span>
    </div>
    
    <div class="form-group col-sm-6">
      <label for="inputPassword4"><b>Pseudo</b></label>
      <input type="text" class="form-control" id="inputPseudo" placeholder="Pseudo" th:value="*{pseudo}" th:field="*{pseudo}">
      <span th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}" class="span_error_modifcompte">NameError</span>
    </div>
  </div>
  
    <div class="form-group">
    <label for="inputBirthdate"><b>Date de naissance</b></label>
    <input type="date" class="form-control" id="inputBirthdate" placeholder="dd/mm/yyyy" th:value="*{birthdate}" th:field="*{birthdate}">
    <span th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}" class="span_error_modifcompte">NameError</span>
  </div>
  
  <div class="form-group">
    <label for="inputAddress"><b>Adresse</b></label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" th:value="*{street}" th:field="*{street}">
    <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="span_error_modifcompte">NameError</span>
  </div>
  
  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="inputPassword4"><b>Mot de passe</b></label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Mot de passe" th:value="*{password}" th:field="*{password}">
      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="span_error_modifcompte">NameError</span>
    </div>
     <div class="form-group col-sm-6">
      <label for="inputPassword4"><b>Confirmer nouveau mot de passe</b></label>
      <input type="password" class="form-control" id="inputPasswordl4" placeholder="Confirmer mot de passe" name="repeated_pwd">
      <span th:utext="${error_repeated_pwd_modifcompte}" class="span_error_modifcompte">NameError</span>
    </div>
    </div>
  
  <div class="form-row">
    <div class="form-group col-sm-4">
      <label for="inputCity"><b>Ville</b></label>
      <input type="text" class="form-control" id="inputCity" th:value="*{city}" th:field="*{city}">
      <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="span_error_modifcompte">NameError</span>
    </div>
    <div class="form-group col-sm-4">
      <label for="inputState"><b>Pays</b></label>
      <input type="text" class="form-control" id="inputState" th:value="*{country}" th:field="*{country}">
      <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="span_error_modifcompte">NameError</span>
    </div>
    <div class="form-group col-sm-4">
      <label for="inputCP"><b>Code Postal</b></label>
      <input type="text" class="form-control" id="inputZip" th:value="*{zipcode}" th:field="*{zipcode}">
      <span th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}" class="span_error_modifcompte">NameError</span>
    </div>
  </div>
  
  <button id="keepmodifications"type="submit" class="btn btn-primary">Enregistrer les modifications</button>

</form>
<div class="col-sm-3"> </div>
</div>
</div>

<div class= "footer-gap"></div>
<div th:insert="~{footer::footer}"></div>
