
<!DOCTYPE html >
<html class="ink">
<head>
<title>CityAct | Mon profil</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<link href="/css/css_monprofil.css" rel="stylesheet">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</head>
<!-- Not connected -->
<div th:if="${session.user == null}">
    <div th:insert="~{CityAct::notConnectedNavbar}"></div>
</div>
<!-- Connected -->
<div th:if="${session.user != null}">
    <div th:insert="~{CityActConnectNavbar::connectedNavbar}"></div>
</div>

 <div class="form-gap"></div>
 <h5 id="Monprofil">Mon profil</h5>
<div id="prof" class="container-fluid">
<div class="row">
<div class="col-sm-3"> </div>
<form th:object="${users}">
<div class="form-row">
    <div class="form-group col-sm-6">
      <label for="inputEmail4">Prénom</label>
      <input type="text" class="form-control" id="inputFirstname" placeholder="Prénom" disabled th:value="*{firstname}">
    </div>
   
    
    <div class="form-group col-sm-6">
      <label for="inputnom">Nom</label>
      <input type="text"class="form-control" id="inputLastname" placeholder="Nom" disabled th:value="*{lastname}">
    </div>
 </div>

  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" disabled th:value="*{mail}">
    </div>
    
    <div class="form-group col-sm-6">
      <label for="inputPassword4">Pseudo</label>
      <input type="text" class="form-control" id="inputPseudo" placeholder="Pseudo" disabled th:value="*{pseudo}">
    </div>
  </div>
  
    <div class="form-group">
    <label for="inputBirthdate">Date de naissance</label>
    <input type="date" class="form-control" id="inputBirthdate" placeholder="dd/mm/yyyy" disabled th:value="*{birthdate}">
  </div>
  
  <div class="form-group">
    <label for="inputAddress">Adresse</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" disabled th:value="*{street}">
  </div>
  
  <div class="form-row">
    <div class="form-group col-sm-4">
      <label for="inputCity">Ville</label>
      <input type="text" class="form-control" id="inputCity" disabled th:value="*{city}">
    </div>
    <div class="form-group col-sm-4">
      <label for="inputState">Pays</label>
      <input type="text" id="inputState" class="form-control" disabled th:value="*{country}">
        
    </div>
    <div class="form-group col-sm-4">
      <label for="inputCP">Code Postal</label>
      <input type="text" class="form-control" id="inputZip" disabled th:value="*{zipcode}">
    </div>
  </div>

</form>
<div class="col-sm-3"> </div>
</div>
</div>
<hr>

<h5 id="Mesprojets">Mes projets</h5>
<hr class="pg-titl-bdr-btm">

<div id="mesprojetscont" class="container-fluid">
<!--     <h2>Bootstrap Horizontal Scrolling with Flexbox</h2> -->
    <div class="row flex-row flex-nowrap">
    
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">	
            <div class="row  proj" >
	<div class="col-md-4">
	<img src="/pictures/quentin.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Trou dans la chaussée</h6>
	<h6><b>Signalement</b>: Voirie</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">	<div class="row  proj" >
	<div class="col-md-4">
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Projets d'aménagements dans le centre</h6>
	<h6><b>Catégorie</b> :sous-catégorie</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8">
	<h6>Titre : Projets d'aménagements dans le centre</h6>
	<h6><b>Projets</b> :sous-catégorie</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Tunnel sombre et peu engageant</h6>
	<h6><b>Ambient Power</b>: environnement bâti</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
       <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Encombrant devant maison</h6>
	<h6><b>Signalement</b>: encombrants</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>With no dorm and no dancing, Stallman's social universe imploded. 
	Like an astronaut experiencing the aftereffects of zero-gravity, Stallman found that his ability to interact 
	with nonhackers, especially female nonhackers, had atrophied significantly. After 16 weeks in the AI Lab, the self confidence he'd been quietly accumulating during his 4 years at Harvard was virtually gone.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre: éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Banc dégradé</h6>
	<h6><b>Signalement</b>: mobilier urbain</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h6>Titre : Sentiment d'insécurité dû à un éclairage manquant</h6>
	<h6><b>Ambient Power</b>: éclairage</h6>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        
    </div>
</div>

<hr>
<h5 id="Mescommentaires">Mes commentaires et mes votes</h5>
 <hr class="pg-titl-bdr-btm 2">

<div  id="comms"class="container-fluid">

    <div class="row flex-row flex-nowrap">
    
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">	
            <div class="row  proj" >
	<div class="col-md-4">
	<img src="/pictures/henry.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
	<p>Like an astronaut experiencing the aftereffects of zero-gravity, Stallman found that his ability to interact 
	with nonhackers, especially female nonhackers, had atrophied significantly. After 16 weeks in the AI Lab,
	 the self confidence he'd been quietly accumulating during his 4 years at Harvard was virtually gone.</p>
	</div>
	
	</div></div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block">	<div class="row  proj">
	<div class="col-md-4">
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
	<p>Like an astronaut experiencing the aftereffects of zero-gravity, Stallman found that his ability to interact 
	with nonhackers, especially female nonhackers, had atrophied significantly. After 16 weeks in the AI Lab,
	 the self confidence he'd been quietly accumulating during his 4 years at Harvard was virtually gone.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8">
	<h5>Commentaire</h5>
	<p>Like an astronaut experiencing the aftereffects of zero-gravity, Stallman found that his ability to interact 
	with nonhackers, especially female nonhackers, had atrophied significantly. After 16 weeks in the AI Lab,
	 the self confidence he'd been quietly accumulating during his 4 years at Harvard was virtually gone.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
	<p>Like an astronaut experiencing the aftereffects of zero-gravity, Stallman found that his ability to interact 
	with nonhackers, especially female nonhackers, had atrophied significantly. After 16 weeks in the AI Lab,
	 the self confidence he'd been quietly accumulating during his 4 years at Harvard was virtually gone.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
	<p>Like an astronaut experiencing the aftereffects of zero-gravity, Stallman found that his ability to interact 
	with nonhackers, especially female nonhackers, had atrophied significantly. After 16 weeks in the AI Lab,
	 the self confidence he'd been quietly accumulating during his 4 years at Harvard was virtually gone.</p>
	</div>
	
	</div></div>
        </div>
        
        
       <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
	<p>Like an astronaut experiencing the aftereffects of zero-gravity, Stallman found that his ability to interact 
	with nonhackers, especially female nonhackers, had atrophied significantly. After 16 weeks in the AI Lab,
	 the self confidence he'd been quietly accumulating during his 4 years at Harvard was virtually gone.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
		<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
	<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
		<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj" >
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
		<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
		<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card card-block"><div class="row  proj">
	<div class="col-md-4" >
	<img src="resources/images/persagotiere3-2_915.jpg" alt="" class="img-thumbnail">
	</div>
	<div class="col-md-8" >
	<h5>Commentaire</h5>
		<p>aaaaaa Nulla quisturpis rhoncus sem hendrerit tincidunt eleifend non
						felis. Donec iaculis quis lorem non luctus. In hachabitasse platea dictumst.</p>
	</div>
	
	</div></div>
        </div>
</div>
</div>


<div class="footer-gap"></div>
<div th:insert="~{footer::footer}"></div>
</html>