
<!DOCTYPE html >
<html class="ink">
<head>
<title>CityAct | Qui sommes nous ?</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">



<link href="/css/quisommesnous_css.css" rel="stylesheet">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" -->
<!-- 	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" -->
<!-- 	crossorigin="anonymous"></script> -->
<!-- <script -->
<!-- 	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" -->
<!-- 	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" -->
<!-- 	crossorigin="anonymous"></script> -->
<!-- <script -->
<!-- 	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" -->
<!-- 	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" -->
<!-- 	crossorigin="anonymous"></script> -->

</head>
<!-- <body> -->

<!-- Not connected -->
<div th:if="${session.user == null}">
	<div th:insert="~{CityAct::notConnectedNavbar}"></div>
</div>
<!-- Connected -->
<div th:if="${session.user != null}">
	<div th:insert="~{CityActConnectNavbar::connectedNavbar}"></div>
</div>

<br>
<br>
<section> 
	<br>
	<h3 id="slogan">CityAct pour une ville qui vous correspond!</h3>
	<p>NOS VALEURS:
	<a>fiabilité, facilité d’exécution,et de lisibilité, inclusion
		sociale dans le processus de décision
	</a>
	</p>
	<div id= "team"> <h4> Notre team </h4></div>
	
	</section>
 <div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="/pictures/quentin.jpg" alt="Quentin" style="width:66%">
      <div class="card-body">
        <h2 class="card-title">Quentin R.</h2>
        <p class="card-text">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>quentin@cityact.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="/pictures/PhotoMargaux.jpg" alt="Margaux" style="width:60% ">
      <div class="container">
        <h2>Margaux M.</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mgx@cityact.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="/pictures/henry.jpg" alt="Henry" style="width:55%">
      <div class="container">
        <h2>Henry B.</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>henry@cityact.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> 
<br><br>
<div th:insert="~{footer::footer}"></div>
</html>