
<!DOCTYPE html >
<html class="ink">
<head>
<title>Sign Up | Inscription </title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<link href="/css/css_signup.css" rel="stylesheet">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</head>

<!-- <body> -->

<!-- Not connected -->
<div th:if="${session.user == null}">

	<div th:insert="~{CityAct::notConnectedNavbar}"></div>

    <div th:insert="~{CityAct::notConnectedNavbar}"></div>

</div>
<!-- Connected -->
<div th:if="${session.user != null}">

	<div th:insert="~{CityActConnectNavbar::connectedNavbar}"></div>

    <div th:insert="~{CityActConnectNavbar::connectedNavbar}"></div>

</div>

<br>
<br>
<br>
<section id="singup">
  <div id="container" class="container">
            <div class="row">

<form class="needs-validation" novalidate>
<!--   <div class="form-row"> -->
<!--     <div class="col-md-6 mb-3"> -->

<br>

<div class="row ml-2">
	
    <div class="col-md-4 mb-3 ">
      <label for="validationCustom01"><b>Prénom</b></label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Prénom" required>

    </div>
    <div class="offset-md-1 col-md-4 mb-3  ">
      <label for="validationCustom02"><b>Nom</b></label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Nom de famille" required>

       </div>
       </div>
       
        <div class="row ml-2">
    <div class="col-md-9  mb-3 ">
      <label for="validationCustomEmail"><b>Email</b></label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="email" class="form-control" id="validationCustomEmail" placeholder="Email" aria-describedby="inputGroupPrepend" required>
        
      </div>
    </div>
  </div>
   
  <div class="row ml-2">
    <div class="col-md-4 mb-3">
      <label for="validationCustom03">Pseudo</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="Pseudo" required>
    </div>
<!--   </div> -->
<div class="offset-md-1 col-md-4 mb-3">
<label for="validationCustom04">Date de naissance</label>
<input type="date" class="form-control" id="validationCustom04" placeholder="Date de naissance" required>

    </div>
    </div>

<div class="row ml-2 ">
<div class="col-md-9  mb-3">
 <label for="validationCustom05"><b>Mot de passe</b></label>
    <input type="password" class="form-control" id="validationCustom05"placeholder="Mot de passe" name="psw" required>

      </div>
      </div>
      
      <div class="row ml-2 ">
      <div class="col-md-9  mb-3">
 <label for="validationCustom06"><b>Répéter le mot de passe</b></label>
    <input type="password" class="form-control" id="validationCustom06" placeholder="Répéter le mot de passe" name="psw-repeat" required>

    </div>
 </div>
 
 <div class="row ml-2">
 <div class="col-md-4 mb-3  ">
      <label for="validationCustom07"><b>Adresse</b></label>
      <input type="text" class="form-control" id="validationCustom07" placeholder="Adresse" required>
    </div>
    
    <div class="offset-md-1 col-md-4 mb-3">
      <label for="validationCustom08"><b>Ville</b></label>
      <input type="text" class="form-control" id="validationCustom08" placeholder="Ville" required>
    </div>    
</div>
    
<div class="row ml-2">
	<div class="col-md-3 mb-3">
      <label for="validationCustom10"><b>Code postal</b></label>
      <input type="text" class="form-control" id="validationCustom10" placeholder="CP" required>
    </div>
</div>
    
    
    
    
    
 
 <div class="row ">
    <div class="col-md-4 mb-3">
      <label for="validationCustom08"><b>Ville</b></label>
      <input type="text" class="form-control" id="validationCustom08" placeholder="Ville" required>
    </div>
    
    <div class="offset-md-1 col-md-4 mb-3">
      <label for="validationCustom09"><b>Pays</b></label>
      <input type="text" class="form-control" id="validationCustom09" placeholder="Pays" required>
    </div>
    </div>
<!--    mr-1 -->
  <div class="form-group1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Accepter les termes et conditions
      </label>
    </div>
  </div>
   <div class="text-right">
  <button class="btn btn-primary" type="submit">Soumettre le formulaire </button>
  <br></div>
</form>


   <div id="img" class="text-right1" title="Icon made by Freepik from flaticon licensed by Creative Commons BY 3.0" > <br> 
   <img class="img-fluid" src="/pictures/clipboard.jpg"/>
</div>
<br>

</div>
</div>
  
</section>
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>

<div class="container1">
<div th:insert="~{footer::footer}"></div>
</div>
